<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/sugarsnap/">home</a>
      <a href="/sugarsnap/photos/">photos</a>
      <a href="/sugarsnap/about/">about</a>
      <p align="right">sugarsnap</p>
    </nav>
    <h1>{{ page.subtitle }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      last updated on 
    </footer>
  </body>
</html>